// Colours
$colour-cyan: hsl(185, 75%, 39%);
$colour-blue-dark: hsl(229, 23%, 23%);
$colour-blue-grey: hsl(227, 10%, 46%);
$colour-grey: hsl(0, 0%, 59%);

// Fonts
$font-primary: "Kumbh Sans", sans-serif;

// Responsive Sizes
$bp-desktop: 1440px;
$bp-mobile: 375px;

// Base Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  color: $colour-blue-dark;
  background-color: $colour-cyan;
  display: grid;
  justify-items: center;
  height: 100vh;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: -41vh -65vh, 91vh 51vh;
  background-repeat: no-repeat;
  background-size: 130vh;

  @media only screen and (max-width: $bp-mobile) {
    background-size: 90vh;
    background-position: -60vh -50vh, 22vh 55vh;
  }
}

.attribution {
  align-self: center;
  text-align: center;
}
