.card {
  width: 18.3rem;
  height: 21.5rem;
  border-radius: 0.75rem;
  align-self: flex-end;
  background-image: linear-gradient(
      360deg,
      rgba(white, 1) 0%,
      rgba(white, 1) 60%,
      transparent 40%
    ),
    url(../images/bg-pattern-card.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 1.5rem 4rem -1rem $colour-blue-grey;

  &__details {
    text-align: center;
    margin-bottom: 1.25rem;

    &--img {
      border-radius: 50%;
      border: 0.3rem solid white;
      background-color: #fff;
    }

    &--personal {
      display: flex;
      padding: 0.9rem 0 0.6rem 0;

      &-name {
        font-weight: 700;
      }

      &-age {
        color: $colour-grey;
        padding-left: 0.5rem;
      }
    }

    &--location {
      color: $colour-grey;
      font-size: 0.75rem;
    }
  }

  &__stats {
    display: flex;
    border-top: 1px solid rgba($colour-grey, 0.25);
    width: 100%;
    justify-content: space-around;
    padding: 1.4rem;
    text-align: center;

    &--stat {
      &-number {
        font-weight: 700;
        padding-bottom: 0.5rem;
      }

      &-name {
        color: $colour-grey;
        font-size: 0.55rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}
